<div class="city-detail">
  <section class="city-header">
    <h2><%= @city %></h2>
    <h4><%= @weather_info["currently"]["summary"] %></h4>
    <h1><%= @weather_info["currently"]["temperature"].to_i %>˚</h1>
  </section>

  <section class="today">
    <ul class="today-overview">
      <li><%= @dayarray[0] %></li>
      <li></li>
      <li><%= @weather_info["daily"]["temperatureMax"] %></li>
      <li><%= @weather_info["daily"]["temperatureMin"] %></li>
    </ul>

    <div class="today-hourly-list-container">
      <ul class="today-hourly-list" style="width: 1536px;">
        <li>
          <ul>
            <li>Now</li>
            
            <li><%= @weather_info["currently"]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[0] %></li>
            
            <li><%= @weather_info["hourly"]["data"][0]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[1] %></li>
            
            <li><%= @weather_info["hourly"]["data"][1]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[2] %></li>
            
            <li><%= @weather_info["hourly"]["data"][2]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[3] %></li>
            
            <li><%= @weather_info["hourly"]["data"][3]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[4] %></li>
            
            <li><%= @weather_info["hourly"]["data"][4]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[5] %></li>
            
            <li><%= @weather_info["hourly"]["data"][5]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[6] %></li>
            
            <li><%= @weather_info["hourly"]["data"][6]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[7] %></li>
            
            <li><%= @weather_info["hourly"]["data"][7]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[8] %></li>
            
            <li><%= @weather_info["hourly"]["data"][8]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[9] %></li>
            
            <li><%= @weather_info["hourly"]["data"][9]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[10] %></li>
            
            <li><%= @weather_info["hourly"]["data"][10]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[11] %></li>
            
            <li><%= @weather_info["hourly"]["data"][11]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[12] %></li>
            
            <li><%= @weather_info["hourly"]["data"][12]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[13] %></li>
            
            <li><%= @weather_info["hourly"]["data"][13]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[14] %></li>
            
            <li><%= @weather_info["hourly"]["data"][14]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[15] %></li>
            
            <li><%= @weather_info["hourly"]["data"][15]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[16] %></li>
            
            <li><%= @weather_info["hourly"]["data"][16]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[17] %></li>
            
            <li><%= @weather_info["hourly"]["data"][17]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[18] %></li>
            
            <li><%= @weather_info["hourly"]["data"][18]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[19] %></li>
            
            <li><%= @weather_info["hourly"]["data"][19]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[20] %></li>
            
            <li><%= @weather_info["hourly"]["data"][20]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[21] %></li>
            
            <li><%= @weather_info["hourly"]["data"][21]["temperature"].to_i %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= @timearray[22] %></li>
            
            <li><%= @weather_info["hourly"]["data"][22]["temperature"].to_i %>˚</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>

  <section class="forecast">
    <ul class="forecast-list">
      <li>
        <ul>
          <li><%= @dayarray[0] %></li>
          
          <li><%= @weather_info["daily"]["data"][0]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][0]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @dayarray[1] %></li>
          
          <li><%= @weather_info["daily"]["data"][1]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][1]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @dayarray[2] %></li>
          
          <li><%= @weather_info["daily"]["data"][2]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][2]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @dayarray[3] %></li>
          
          <li><%= @weather_info["daily"]["data"][3]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][3]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @dayarray[4] %></li>
          
          <li><%= @weather_info["daily"]["data"][4]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][4]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @dayarray[5] %></li>
          
          <li><%= @weather_info["daily"]["data"][5]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][5]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @dayarray[6] %></li>
          
          <li><%= @weather_info["daily"]["data"][6]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][6]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @dayarray[7] %></li>
          
          <li><%= @weather_info["daily"]["data"][7]["temperatureMax"].to_i %>˚</li>
          <li><%= @weather_info["daily"]["data"][7]["temperatureMin"].to_i %>˚</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="today-details">
    <p class="today-summary"><%= @weather_info["daily"]["data"][0]["summary"] %></p>

    <ul class="today-details-list">
      <li>
        <ul>
          <li>Sunrise:</li>
          <li><%= Time.at(@weather_info["daily"]["data"][0]["sunriseTime"]).strftime("%r") %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunset:</li>
          <li><%= Time.at(@weather_info["daily"]["data"][0]["sunsetTime"]).strftime("%r") %></li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Chance of Rain:</li>
          <li><%= @weather_info["daily"]["data"][0]["precipProbability"] * 100 %>%</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Humidity:</li>
          <li><%= @weather_info["daily"]["data"][0]["humidity"] * 100 %>%</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Wind:</li>
          <li><%= @weather_info["daily"]["data"][0]["windSpeed"] %> mph</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Feels like:</li>
          <li><%= @weather_info["currently"]["apparentTemperature"].to_i %>˚</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Precipitation:</li>
          <li><%= @weather_info["daily"]["data"][0]["precipType"] %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Pressure:</li>
          <li><%= @weather_info["daily"]["data"][0]["pressure"] %> mbar</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Visibility:</li>
          <li><%= @weather_info["daily"]["data"][0]["visibility"] %> mi</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
